@page "/attributes"
@inject IAttributeRepository _attributeRepo;


<h3>Attributes</h3>

<AuthorizeView Roles="Administrator">
    <a href="/attributes/create" class="btn btn-primary">
        <span class="oi oi-plus">Add attribute</span>
    </a>
</AuthorizeView>

@if (!isAnyAttribute)
{
    <LoadingMessage Message="There is no Attribute." />
}
else if (Model == null)
{
    <LoadingMessage Message="Loading Attributes informations." />
}
else
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Data Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attributeModel in Model)
            {
                <tr>
                    <td>
                        @attributeModel.Name
                    </td>
                    <td>
                        @attributeModel.DataType
                    </td>
                    <td>
                        <DetailsButton Href=@(string.Format("/atributes/{0}",attributeModel.Id)) />
                        <AuthorizeView Roles="Administrator">
                            <EditButton Href=@(string.Format("/atributes/edit/{0}",attributeModel.Id)) />
                            <Delete Href=@(string.Format("/atributes/delete/{0}",attributeModel.Id)) />
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<AttributeModel> Model;
    private bool isAnyAttribute = true;
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Model = await _attributeRepo.Get(Endpoints.AttributesEndpoint);
            isAnyAttribute = (Model != null && Model.Count > 0);
            this.StateHasChanged();
        }
    }
}
