@page "/producttypes"
@inject IProductTypeRepository _productsRepo;


<h3>Products</h3>

<AuthorizeView Roles="Administrator">
    <a href="/producttypes/create" class="btn btn-primary">
        <span class="oi oi-plus">Add Product</span>
    </a>
</AuthorizeView>

@if (!isAnyProduct)
{
    <LoadingMessage Message="There is no Product." />
}
else if (Model == null)
{
    <LoadingMessage Message="Loading Products informations." />
}
else
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productModel in Model)
            {
                <tr>
                    <td>
                        @productModel.Name
                    </td>
                    <td>
                        <p><a href=@($"categories/{productModel.CategoryId}")>@productModel.CategoryName</a></p>
                    </td>
                    <td>
                        <DetailsButton Href=@(string.Format("/producttypes/{0}",productModel.Id)) />
                        <AuthorizeView Roles="Administrator">
                            <EditButton Href=@(string.Format("/producttypes/edit/{0}",productModel.Id))/>
                            <DeleteButton Href=@(string.Format("/producttypes/delete/{0}",productModel.Id))/>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<ProductTypeModel> Model;
    private bool isAnyProduct = true;
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Model = await _productsRepo.Get(Endpoints.ProductTypesEndpoint);
            isAnyProduct = (Model != null && Model.Count > 0);
            this.StateHasChanged();
        }
    }
}
