@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <Money @ref="Money"/>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    public Money Money { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Money.Refresh();
    }
}
