@inherits LayoutComponentBase
@inject IUserRepository _userRepo;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            Money: @(Money.HasValue ? Money.ToString() : "??,??")€
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    private decimal? Money;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
        Money = await _userRepo.GetMoney(Endpoints.MoneyEndpoint);
    }
}
