@inject IUserRepository _userRepo;
@inject NavigationManager _naviManager;

<div class="card">
    <h3 class="card-title">Deposit</h3>

    @if (!isSuccess)
    {
        <ErrorMessage Message="Something went wrong." />
    }
    <div class="card-body">
        <EditForm Model="Model" OnValidSubmit="HandleDeposit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="deposit-amount-of-money">Deposit</label>
                <InputNumber Id="deposit-amount-of-money" class="form-control" @bind-Value="Model.AmountOfMoney" />
                <ValidationMessage For="@(()=>Model.AmountOfMoney)" />
            </div>
            <SubmitButton />
        </EditForm>
    </div>
</div>

@code {
    CashFlowModel Model = new CashFlowModel();
    bool isSuccess = true;

    private async Task HandleDeposit()
    {
        isSuccess = await _userRepo.Deposit(Endpoints.DepositEndpoint, Model);
        if (isSuccess)
        {
            _naviManager.NavigateTo("/profile");
        }
    }
}
