@page "/users/{Name}"
@inject IUserRepository _userRepository;

<h3>User</h3>
@if (Model == null)
{
    <LoadingMessage Message="Loading User informations" />
}
else
{
    <a href="messages/@Model.Name" class="btn btn-secondary">
        <span class="oi oi-envelope-open">Write a message</span>
    </a>
    <table class="table table-dark">
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
    </table>
    <CollectionMarket_UI.Pages.SaleOffer.Index SellerUsername="@Model.Name" />
}

@code {
    [Parameter]
    public string Name { get; set; }

    private UserModel Model;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Model = await _userRepository.Get(Endpoints.UsersEndpoint, Name);
            this.StateHasChanged();
        }
    }
}
