@page "/categories/{Id}"
@inject ICategoryRepository _categoryRepo;


@if (Model == null)
{
    <LoadingMessage Message="Loading Category informations" />
}
else
{
    <h3>Category @Model.Name</h3>
    <h2>Attributes</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Data Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attr in Model.Attributes)
            {
            <tr>
                <td>
                    @attr.Name
                </td>
                <td>
                    @attr.DataType
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private CategoryModel Model;
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            int id = Convert.ToInt32(Id);
            Model = await _categoryRepo.Get(Endpoints.CategoriesEndpoint, id);
            this.StateHasChanged();
        }
    }
}
